**
!Dockerfile
!package.json
!package-lock.json
!LICENSE
!backend/
!backend/**
!frontend/
!frontend/package.json
!frontend/package-lock.json
!frontend/src/
!frontend/src/**
!frontend/public/
!frontend/public/**
!docker/
!docker/**
**/.env
**/.env.*
**/node_modules
